/* Apply background colors and borders */
body {
    background-color: #f4f4f4;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: black;
    color: white;
    padding: 2rem;
    text-align: right;
}

main {
    border: 3px solid red;
    padding: 20px;
}

article {
    background-color: white;
    border: 1px solid #888;
    border-radius: 0.8rem;
    padding: 1.3rem;
    margin: 0.5rem 0;
    margin-bottom: 1.5rem;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem;
}

h1 {
    text-align: center;
}

/* Basic link styling */
a:link {
    color: blue;
}

a:visited {
    color: purple;
}

a:hover {
    color: green;
}

a:active {
    color: red;
}

/* Header link styling */
header a:link, header a:visited {
    color: white;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

header a:active {
    text-decoration: overline;
}
/* Wrapper styling */
.wrapper {
    max-width: 40rem;
    margin: 0 auto;
    border: 0px solid black; /* Border removed */
}

